html,
body {
	background: #eee;
	color: #444;
}

header {
	width: 300px;
	margin: 0 auto;
}

#notes {
	width: 300px;
	margin: 10px auto;
}

#notes textarea {
	width: 100%;
	height: 150px;
	display: block;
	margin: 10px 0;
}

#notes button {
	float: right;
}

#notes small {
	display: block;
}